rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAllowedEmail() {
      return request.auth != null
        && request.auth.token.email in [
          'yulim4013@gmail.com',
          'mi74512131@gmail.com'
        ];
    }
    match /users/{userId}/{document=**} {
      allow read, write: if isAllowedEmail() && request.auth.uid == userId;
    }
  }
}
